<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
  
    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngIf="login === false">
           <ion-item routerLink="/index" detail=true>
           <ion-icon slot="start" name="car-sport-outline" color="primary"></ion-icon>
           Home
           </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="login === false">
           <ion-item routerLink="/login" detail=true>
           <ion-icon slot="start" name="person-circle-outline" color="primary"></ion-icon>
           Iniciar sesión
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="login === false" >
           <ion-item routerLink="/registro" detail=true>
           <ion-icon slot="start" name="person-add-outline" color="primary"></ion-icon>
           Registro Conductor
           </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="login === false" >
          <ion-item routerLink="/registrocliente" detail=true>
          <ion-icon slot="start" name="person-add-outline" color="primary"></ion-icon>
          Registro Cliente
          </ion-item>
       </ion-menu-toggle>
        <ion-menu-toggle *ngIf="login && rol === 'conductor'" >
          <ion-item routerLink="/conductorhome" detail=true>
          <ion-icon slot="start" name="car-sport-outline" color="primary"></ion-icon>
          Home conductor
          </ion-item>
       </ion-menu-toggle>
       <ion-menu-toggle *ngIf="login && rol === 'conductor'" >
        <ion-item routerLink="/mapsconductor" detail=true>
        <ion-icon slot="start" name="car-sport-outline" color="primary"></ion-icon>
        Realizar viaje
        </ion-item>
     </ion-menu-toggle>
       <ion-menu-toggle *ngIf="login && rol === 'cliente'" >
        <ion-item routerLink="/clienteshome" detail=true>
        <ion-icon slot="start" name="car-sport-outline" color="primary"></ion-icon>
        Home Cliente  
        </ion-item>
     </ion-menu-toggle>
        <ion-menu-toggle *ngIf="login && rol === 'cliente'" >
          <ion-item routerLink="/mapscliente" detail=true>
          <ion-icon slot="start" name="car-sport-outline" color="primary"></ion-icon>
        Solicitar viaje  
          </ion-item>
      </ion-menu-toggle>
       <ion-menu-toggle *ngIf="login === true" >
        <ion-item routerLink="/perfil" detail=true>
        <ion-icon slot="start" name="car-sport-outline" color="primary"></ion-icon>
        Perfil
        </ion-item>
       </ion-menu-toggle>
       <ion-menu-toggle *ngIf="login === true">
          <ion-item detail=true (click)="logout()">
          <ion-icon slot="start" name="log-out-outline" color="primary"></ion-icon>
          Cerrar sesión
          </ion-item>
       </ion-menu-toggle>
    </ion-list>
    </ion-content>
  </ion-menu>
  
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-app>